body {
    margin: 0px;
    background-color: rgba(250, 250, 250, 1);
}

a {
    text-decoration: none
}

#base {
    z-index: 0;
}

#u18_img {
    left: 0px;
    top: 0px;
    width: 321px;
    height: 515px;
}

#u18 {
    padding-top: 100px;
    width: 311px;
    height: 505px;
}

#u20 {
    position: absolute;
    width: 321px;
    height: 27px;
    padding-top: 40px;
    font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

#u27 {
    position: absolute;
    word-wrap: break-word;
    width: 240px;
    text-align: center;
    padding-top: 100px;
    padding-left: 36px;
    z-index: 9;
}

#u28 {
    position: absolute;
    word-wrap: break-word;
    width: 240px;
    text-align: center;
    padding-top: 160px;
    padding-left: 36px;
    z-index: 8;
}

#u29 {
    position: absolute;
    word-wrap: break-word;
    width: 240px;
    text-align: center;
    padding-top: 220px;
    padding-left: 36px;
    z-index: 7;
}

#u30 {
    position: absolute;
    word-wrap: break-word;
    width: 240px;
    text-align: center;
    padding-top: 280px;
    padding-left: 36px;
    z-index: 6;
}

#u31 {
    position: absolute;
    word-wrap: break-word;
    width: 240px;
    text-align: center;
    padding-top: 400px;
    padding-left: 36px;
    z-index: 5;
}

#u31 button {
    width: 240px;
}

#u24 {
    position: absolute;
    word-wrap: break-word;
    width: 321px;
    text-align: center;
    padding-top: 460px;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #0099FF;
}

#u25 {
    float: left;
    margin-left: 80px;
    word-wrap: break-word;
}

#u26 {
    float: right;
    margin-right: 80px;
    word-wrap: break-word;
}
