body {
    margin: 0px;
    background-color: #1BBC9B;
    position: static;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;

}

#u0_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#u0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 768px;
}

#u1 {
    position: absolute;
    left: 2px;
    top: 376px;
    width: 1020px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 283px;
    height: 36px;
}

#u3 {
    position: absolute;
    left: 104px;
    top: 87px;
    word-wrap: break-word;
    width: 283px;
    height: 36px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #FFFFFF;
    text-align: left;
}

#u4_img {
    position: absolute;
    left: 138px;
    top: 0px;
    width: 87px;
    height: 87px;
}

#u4 {
    position: fixed;
    left: 36%;
    top: 30%;
    width: 380px;
    height: 328px;
}

#u5 {
    position: absolute;
    left: 2px;
    top: 36px;
    width: 83px;
    visibility: hidden;
    word-wrap: break-word;
}

#u6_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 365px;
    height: 36px;
}

#u6 {
    position: absolute;
    left: 0px;
    top: 150px;
    word-wrap: break-word;
    height: 36px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #FFFFFF;
    text-align: left;
}

#u7 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 365px;
    white-space: nowrap;
}

#u8_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 103px;
    height: 38px;
}

#u8 {
    position: absolute;
    left: 40px;
    top: 260px;
    width: 103px;
    height: 38px;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

#u9 {
    position: absolute;
    top: 9px;
    width: 99px;
    text-align: center;
    word-wrap: break-word;
    cursor: pointer;
}

#u10_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 103px;
    height: 38px;
}

#u10 {
    position: absolute;
    right: 40px;
    top: 260px;
    width: 103px;
    height: 38px;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

#u11 {
    position: absolute;
    top: 9px;
    width: 99px;
    word-wrap: break-word;
    text-align: center;
    cursor: pointer;
}

#u12_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 46px;
    height: 20px;
}

#u12 {
    position: absolute;
    left: 833px;
    top: 27px;
    width: 46px;
    height: 20px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
}

#u12_img.mouseOver {}

#u12.mouseOver {}

#u13 {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 42px;
    word-wrap: break-word;
}

#u14_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 46px;
    height: 20px;
}

#u14 {
    position: fixed;
    right: 40px;
    top: 27px;
    width: 200px;
    height: 20px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: right;
}

#u14_img.mouseOver {}

#u14.mouseOver {}

#u18 {
    cursor: pointer;
    right: 120px;
    position: absolute;
    word-wrap: break-word;
}

#u19 {
    cursor: pointer;
    right: 160px;
    position: absolute;
    word-wrap: break-word;
}

#u20 {
    cursor: pointer;
    right: 30px;
    position: absolute;
    word-wrap: break-word;
}

#u16_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 64px;
    height: 20px;
}

#u16 {
    position: absolute;
    left: 944px;
    top: 27px;
    width: 64px;
    height: 20px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
}

#u16_img.mouseOver {}

#u16.mouseOver {}

#u17 {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 60px;
    word-wrap: break-word;
}
